@{
    Layout = "~/Views/Shared/User.cshtml";
    ViewBag.Title = "Questionnaire";
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<div class="header">
    <div class="row">
        <div class="col-lg-1">
            <img class="main-heading-icon" src="~/Images/award-category/corporate-governance.png" />
        </div>
        <div class="col-lg-11">
            <h3 class="main-heading">Corporate Governance</h3>
        </div>
    </div>
</div>
<div class="zoom">
    <a data-toggle="modal" data-target="#myModal4" class="zoom-fab zoom-btn-large" id="zoomBtn"><i class="fa fa-2x fa-save"></i></a>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">

        <div class="card">
            <div class="content">
                <div class="row questioncontent">
                    <h1>QUESTIONNAIRE</h1>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <label style="float:right;" class="checkbox-switch" onclick="javascript:showonlyone('nutlayer1');toggleDiv('nutlayer1');">
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input type="checkbox" class="radio tn-switch" id="00" checked="checked" />
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label>
                                                <label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR01: Implementing Innovation Management Systems <a href="#" data-toggle="modal" data-target="#Criteria1"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:<span class="score"></span></b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                               
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc"><span>There are clear evidences on establishing will structured and effective processes,</span><span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                    <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <a class="btn next-acc" style="float:right;" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <div class="panel-heading" data-href="#collapse2">
                                    <h4 class="panel-title">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="checkbox-switch" onclick>
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input class="radio tsin-switch" type="checkbox" id="01">
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label><label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR02: Offering an ecosystem and programs enabling employees to contribute to innovation and creativity related activities <a href="#" data-toggle="modal" data-target="#Criteria2"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:0</b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on establishing will structured and effective processes,<span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                        <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.
                                                    </div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <a class="btn next-acc" style="float:right;" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <div class="panel-heading" data-href="#collapse3">
                                    <h4 class="panel-title">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="checkbox-switch" onclick>
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input class="radio tsin-switch" type="checkbox" id="01">
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label><label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR03: Establishing partnerships with universities and research centres <a href="#" data-toggle="modal" data-target="#Criteria3"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:0</b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on establishing will structured and effective processes,<span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                        <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.
                                                    </div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <a class="btn next-acc" style="float:right;" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <div class="panel-heading" data-href="#collapse4">
                                    <h4 class="panel-title">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="checkbox-switch" onclick>
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input class="radio tsin-switch" type="checkbox" id="01">
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label><label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR04: Showing an ability to identify opportunities for creativity and innovation <a href="#" data-toggle="modal" data-target="#Criteria4"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:0</b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on establishing will structured and effective processes,<span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                        <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.
                                                    </div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <a class="btn next-acc" style="float:right;" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <div class="panel-heading" data-href="#collapse5">
                                    <h4 class="panel-title">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="checkbox-switch" onclick>
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input class="radio tsin-switch" type="checkbox" id="01">
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label><label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR05: Realizing innovative product or service designs that exceeded customers’ expectations <a href="#" data-toggle="modal" data-target="#Criteria5"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:0</b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on establishing will structured and effective processes,<span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                        <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.
                                                    </div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <a class="btn next-acc" style="float:right;" data-toggle="collapse" data-parent="#accordion" href="#collapse6">Next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                <div class="panel-heading" data-href="#collapse6">
                                    <h4 class="panel-title">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="checkbox-switch" onclick>
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input class="radio tsin-switch" type="checkbox" id="01">
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label><label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR06: Carrying new initiatives in the past 2 years that have resulted in tangible benefits for customers <a href="#" data-toggle="modal" data-target="#Criteria6"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:0</b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on establishing will structured and effective processes,<span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                        <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.
                                                    </div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <a class="btn next-acc" style="float:right;" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                <div class="panel-heading" data-href="#collapse7">
                                    <h4 class="panel-title">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="checkbox-switch" onclick>
                                                    <!-- The onclick attribute is required by iOS -->
                                                    <input class="radio tsin-switch" type="checkbox" id="01">
                                                    <span class="checkbox-switch-inner">
                                                        <span class="checkbox-switch-on"></span>
                                                        <span class="checkbox-switch-off"></span>
                                                        <span class="checkbox-switch-handle"></span>
                                                    </span>
                                                </label><label style="float:right;padding-right:10px;"><small class="text-success"><i class="fa fa-check-circle"></i>COMPLETED&nbsp;&nbsp;</small><small class="text-danger"><i class="fa fa-exclamation-circle"></i>INCOMPLETE&nbsp;&nbsp;</small></label>
                                            </div>
                                            <div class="col-lg-12"><h5>INN_CR07: Demonstrating innovation in data utilization for gaining deeper understanding of customers’ needs. <a href="#" data-toggle="modal" data-target="#Criteria7"><i class="ti-info-alt"></i></a></h5></div>
                                        </div>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <small class="text-danger"><i class="fa fa-info-circle"></i>CAUTION : ONCE A LEVEL IS SELECTED YOU WILL NOT BE ABLE TO CHOOSE ANOTHER.</small>
                                    <div class="row">
                                        <div class="col-lg-12 criteria-content"><h4 for="01" class="tn-headline">PART 1 <small><b>SCORE:0</b></small></h4></div>
                                        <div class="col-lg-6 criteria-content">
                                            <ul class="list">
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="1"  id="radio1" />
                                                        Level #1
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are no clear evidences on the existence of the practice within the organization.</div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="2"  id="radio1" />
                                                        Level #2
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on establishing will structured and effective processes,<span > methods, and measures, that are suitable for the organization business nature, meets all stakeholders needs, and contribute to achieve business strategy.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="3"  id="radio1" />
                                                        Level #3
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences on implementing the organization processes<span > and methods systematically, comprehensively, and efficiently through optimum utilization of resources.</span></div>
                                                <li>
                                                    <label>
                                                        <input type="radio" class="option-input radio" value="4"  id="radio1" />
                                                        Level #4
                                                    </label>
                                                </li>
                                                <div class="level-desc">There are clear evidences that the organization use innovation and creativity<span > to improve their practices, based on continuous learning from their performance measures and best practices.</span></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="textboxes" style="display:none;">
                                                <h6 style="padding-bottom:5px;">Submit file supporting your choice (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Choose the level of your evidence</h6>
                                                <select onchange="SetScore(this)">
                                                    <option disabled selected>Choose Level</option>
                                                    <option value="4">Excellent</option>
                                                    <option value="3">Very Good</option>
                                                    <option value="2">Good</option>
                                                    <option value="1">Acceptable</option>
                                                </select>
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Explain Why you chose this level in 250 words. (Optional)</h6>
                                                <textarea rows="9" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row textboxes" style="display:none;">

                                        <div class="col-lg-12 criteria-content">
                                            <h4 for="01" class="tn-headline">PART 2 <small><b>SCORE:<span class="score"></span></b></small></h4>
                                            <h6 style="color:#808080">Self assess your impact of the criteria between 1 to 100 from the slider down below.</h6>
                                            <div class="row" style="margin-top:30px;">
                                                <div class="col-lg-12">
                                                    <div class="rainbow-slider"></div>
                                                </div>
                                                <div class="impact-row" style="padding:5px;">
                                                    <div class="col-lg-3 impact-bg">
                                                        <h4>Score: 0</h4>There are no organizational performance results, or the results reported are poor.
                                                    </div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 1 - 33</h4>The organizational performance results are reported, responsive to the business requirements, indicates the performance of organization practices and identify the success levels of achieving business strategy where early good performance levels are evident.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 34-66</h4>The organization key performance results shows sustainable achievements of challengeable targets with positive trends over time in all areas of importance to achieve organization strategy.</div>
                                                    <div class="col-lg-3 impact-bg"><h4>Score: 67 - 100</h4>The organization key performance results benchmark exceeded best entities results in class (globally, regionally, and locally), and communicated among all stakeholders.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:40px;">
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">Submit file supporting your answer (pdf|doc, 2 Mb) <a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-question-circle-o"></i></a></h6>
                                                <input type="file" id="myFile">
                                                <input type="submit" value="Upload" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 style="padding-top:30px;padding-bottom:5px;">What is the impact of implementing this criteria. Please explain with no more than 700 awards. And support your answer with an attached file.</h6>
                                                <textarea rows="7" placeholder="Enter your explanation..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">

                <div class="row">
                    <ul id="sliders">
                        <h1>PRIORITY CALCULATIONS</h1>
                        <li>
                            <h5>Attainment as measured against authorised and licensed curriculum standards</h5>
                            <div class="slider">25</div>
                        </li>
                        <li>
                            <h5>Attainment as measured against national and appropriate international standards</h5>
                            <div class="slider">25</div>
                        </li>
                        <li>
                            <h5>Knowledge, skills and understanding, especially in the key subjects</h5>
                            <div class="slider">25</div>
                        </li>
                        <li>
                            <h5>Trends in attainment over time</h5>
                            <div class="slider">25</div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="row main-submit" style="padding:10px;text-align:center;"><input data-toggle="modal" data-target="#myModal2" type="submit" value="Submit" /></div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="/Images/favicon.png" />Examples of Support Evidence: Existence of Criteria</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Channels and tools to communicate with all stakeholders</li>
                    <li>MOUs, media articles, conferences, publications</li>
                    <li>Training programmes</li>
                    <li>Creating new marketplaces</li>
                    <li>Improving quality of service</li>
                    <li>Example of new product or service</li>
                    <li>Enhancing cybersecurity</li>
                    <li>Smart services or apps</li>
                    <li>Partnership with Fintech companies</li>
                    <li>Payment initiative that facilitates faster and more convenient payments locally or globally</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="/Images/favicon.png" />Examples of Support Evidence: Impact of Criteria</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Percentage of trained employees in the innovation field</li>
                    <li>Percentage of innovations resulting from the ideas submitted by employees</li>
                    <li>Rate of research studies produced per employee</li>
                    <li>Number of patented innovations/protected intellectual properties</li>
                    <li>Percentage of innovation workshops and events organised by the organization</li>
                    <li>Percentage of budget allocated to innovation</li>
                    <li>The financial and non-financial results achieved as a result of implementing innovative ideas in processes and services provisioning, as well as those that support the achievement of strategic objectives</li>
                    <li>Number of innovative ideas submitted by customers and partners</li>
                    <li>Percentage of innovative ideas/suggestions that are viable and applicable</li>
                    <li>Number and size of innovative projects implemented with partners</li>
                    <li>Number of new/improved products and services resulting from innovative ideas</li>
                    <li>Number of leading work models that have been developed and implemented</li>
                    <li>Rate of suggestions/ideas submitted per employee</li>
                    <li>Percentage of the increase in revenues arising from implementing innovative ideas or developing new services</li>
                    <li>Number of published researches/studies</li>
                    <li>Projects&rsquo; success rate</li>
                    <li>Innovation figures</li>
                    <li>Financial results</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal2" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="text-align:center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="fa fa-4x fa-warning icon-danger" style="width:4em;"></i>
                <h4 class="modal-title"><b>WARNING!</b></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you have answered all the answers? If you click this button you will not be able to make anymore edits and will be considered as final submission. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes, I am sure</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No, I am not</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal4" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="fa fa-4x fa-check-circle-o text-success" style="width:4em;"></i>
                <h4 class="modal-title"><b>SAVED!</b></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="Criteria1" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR01: Implementing Innovation Management Systems </b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="Criteria2" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR02: Offering an ecosystem and programs enabling employees to contribute to innovation and creativity related activities </b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="Criteria3" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR03: Establishing partnerships with universities and research centres</b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="Criteria4" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR04: Showing an ability to identify opportunities for creativity and innovation</b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="Criteria5" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR05: Realizing innovative product or service designs that exceeded customers’ expectations</b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="Criteria6" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR06: Carrying new initiatives in the past 2 years that have resulted in tangible benefits for customers</b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="Criteria7" class="modal warning-dialog fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>INN_CR07: Demonstrating innovation in data utilization for gaining deeper understanding of customers’ needs.</b></h5>
            </div>
            <div class="modal-body">
                <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>