@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-lg-12">
        <h3>ABC COMPANY</h3>
        <h4>Assessor : Natheem Sabbah</h4>
        <hr />
        <h5><b>AWARD CATEGORY</b> : <img src="~/Images/award-category/corporate-governance.png" width="15px" /><span>  CORPORATE GOVERNANCE</span></h5>
    </div>
</div>
<div class="header">
    <h4 class="title">Organization Strategy</h4>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
                <table>
                    <tbody>
                        <tr>
                            <td><h6>Who are the key participants?</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo">Show Comment</button>
                                            <div id="demo" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Strategic Goals related to your award category</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo1">Show Comment</button>
                                            <div id="demo1" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Important goals for these strategic objectives?</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2">Show Comment</button>
                                            <div id="demo2" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Information for your strategic planning process</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo3">Show Comment</button>
                                            <div id="demo3" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Accomplishment of your strategic objectives</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo4">Show Comment</button>
                                            <div id="demo4" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Core competencies and work systems</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo5">Show Comment</button>
                                            <div id="demo5" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Organization strategy adapt to meet changes in priorities</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo6">Show Comment</button>
                                            <div id="demo6" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h6>Who are the key participants?</h6><p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo7">Show Comment</button>
                                            <div id="demo7" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h3>TOTAL :</h3></td>
                            <td><h3><b>54/100</b></h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Criteria</th>
                            <th>Part #1</th>
                            <th>Part #2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h4>CRITERIA #1</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2">Show Comment</button>
                                            <div id="demo2" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2">Show Comment</button>
                                            <div id="demo2" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #2</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo21">Show Comment</button>
                                            <div id="demo21" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s1">Show Comment</button>
                                            <div id="demo2s1" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #3</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo22">Show Comment</button>
                                            <div id="demo22" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s2">Show Comment</button>
                                            <div id="demo2s2" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #4</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo23">Show Comment</button>
                                            <div id="demo23" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s3">Show Comment</button>
                                            <div id="demo2s3" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #5</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo24">Show Comment</button>
                                            <div id="demo24" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s4">Show Comment</button>
                                            <div id="demo2s4" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #6</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo25">Show Comment</button>
                                            <div id="demo25" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s5">Show Comment</button>
                                            <div id="demo2s5" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #7</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo26">Show Comment</button>
                                            <div id="demo26" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s6">Show Comment</button>
                                            <div id="demo2s6" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h4>CRITERIA #1</h4></td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo27">Show Comment</button>
                                            <div id="demo27" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Score : 15
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-info explanation" data-toggle="collapse" data-target="#demo2s7">Show Comment</button>
                                            <div id="demo2s7" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td><h3>TOTAL :</h3></td>
                            <td><h3><b>12/50</b></h3></td>
                            <td><h3><b>33/50</b></h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <h4 class="title">Final Input</h4>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <h4 class="title">Final Score</h4>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Strategy (Out of 100)</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>Maturity (Out of 100)</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>Results (Out of 100)</td>
                            <td>35%</td>
                        </tr>
                        <tr>
                            <td>Linkage (Out of 100)</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td><h3>TOTAL</h3></td>
                            <td><h3>74%</h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>