@{
    ViewBag.Title = "Dashboard";
}
<div class="header">
    <h4 class="title">Choose Company Scale: </h4>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="content text-center">
                <a href="@Url.Action("FNCategories", "Home")"><button class="buttonsp">Large Scale Company</button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="content text-center">
                <a href="@Url.Action("FNCategories", "Home")"><button class="buttonsp">Small Scale Company</button></a>
            </div>
        </div>
    </div>
</div>