body {
    padding: 0;
    margin: 0;
    background: url(../../Images/bglogin.jpg) no-repeat;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position:50% 40%;
}

.loginrow {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10%;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.registerrow {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10%;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.opening-description {
    padding-left: 20px;
}

.right-login {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    padding: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
}

.left-login {
    padding-top: 40px;
    padding-bottom: 65px;
    background: white;
}

.login-logo {
    margin-top:30px;
    max-height: 100px;
    padding-left:20px;
}

.login-heading {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.social {
    padding-top: 25%;
    color: white;
    padding-left: 20px;
}

    .social a {
        color: white;
    }

        .social a:hover {
            color: rgba(255,255,255, 0.7);
        }

    .social i {
        font-size: 25px;
        padding-right: 10px;
    }


li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #000;
}

.success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    opacity: .0;
    transition: all .8s .4s ease;
}

.success-left {
    transform: translateX(-406px);
    opacity: 1;
}

.successtext {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px;
}

#check path {
    color: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255,255,255,.0);
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255,255,255,.03);
}

.form-signin input, .form-signup input {
    background: rgba(185, 139, 26,.2);
    color: #000;
    font-size: 13px;
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.2);
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(0,0,0,.7);
    display: block;
}

:focus {
    outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(0,0,0,.1);
    border: none;
    padding-right: 40px;
    transition: background .5s ease;
}

.btn-signin {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
    color:white;
}

.btn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255,255,255, 1);
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #B98B1A;
    left: 0px;
    top: 0px;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

.btn-animate-grow {
    width: 130%;
    height: 625px;
    position: relative;
    left: -55px;
    top: -420px;
    color: rgba(255,255,255,0);
    background-color: rgba(255,255,255,1);
}

a.btn-signup:hover, a.btn-signin:hover {
    cursor: pointer;
    background-color: #9f7928;
    color: white;
    transition: background-color .5s;
    text-decoration: none;
}

.forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: -535px;
    border-top: solid 1px rgba(255,255,255,.3);
    transition: all 0.5s ease;
}

.forgot a {
    color: rgba(0,0,0,.3);
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}
.registerp a {
    color: #775F28 !important;
    font-weight: bold;
}
.registerp a:hover, .registerp a:focus {
    color: #f79820 !important;
    font-weight: bold;
    text-decoration: none;
}
.registerp {
    text-transform: uppercase;
    text-align: center;
}
.register-logo {
    margin-top: 50px;
    max-height: 70px;
}
.register-form {
    padding: 4vmin 10vmin;
}
input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"] + label {
        color: rgba(0,0,0,.7);
    }

        input[type="checkbox"] + label span {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            background: url(../Images/1checkbox.png);
            cursor: pointer;
        }

    input[type="checkbox"]:checked + label span {
        background: url(../Images/3checkbox.png);
    }

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        color: rgba(0,0,0,.7);
    }

        input[type="radio"] + label span {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            background: url(../Images/1checkbox.png);
            cursor: pointer;
        }

    input[type="radio"]:checked + label span {
        background: url(../Images/4checkbox.png);
    }

.paddintop10 {
    padding-top: 10px;
}

.paddintop20 {
    padding-top: 20px;
}

.paddintop30 {
    padding-top: 30px;
}

.paddintop40 {
    padding-top: 40px;
}

.paddinbottom10 {
    padding-bottom: 10px;
}

.paddinbottom20 {
    padding-bottom: 20px;
}

.paddinbottom30 {
    padding-bottom: 30px;
}

.paddinbottom40 {
    padding-bottom: 40px;
}

.paddinright10 {
    padding-right: 10px;
}

.paddinright20 {
    padding-right: 20px;
}

.paddinright30 {
    padding-right: 30px;
}

.paddinright40 {
    padding-right: 40px;
}

.paddinleft10 {
    padding-left: 10px;
}

.paddinleft20 {
    padding-left: 20px;
}

.paddinleft30 {
    padding-left: 30px;
}

.paddinleft40 {
    padding-left: 40px;
}